<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h5><fa-icon icon="hdd"></fa-icon> Drives</h5>
        </div>
        <div class="card-body"></div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h5><fa-icon icon="database"></fa-icon> Datasets</h5>
        </div>
        <div class="card-body"></div>
      </div>
    </div>
  </div>
</div>
