<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h5 class="card-title">Access Point</h5>
      <h5 class="pull-right"><span class="badge badge-danger">1</span></h5>
    </div>
    <p class="card-text">Operación Backup de Configuración</p>
  </div>
</div>

<div class="card mt-1">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h5 class="card-title">Router</h5>
      <h5 class="pull-right"><span class="badge badge-success">10</span></h5>
    </div>
    <p class="card-text">Operación Revisión de Estado de Firewall</p>
  </div>
</div>
