<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h5 class="card-title">Copias Históricas</h5>
      <h5 class="pull-right"><span class="badge badge-warning">7</span></h5>
    </div>
    <p class="card-text">Operación Espejo a Backup No. 1</p>
  </div>
</div>

<div class="card mt-1">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h5 class="card-title">Archivo fotográfico</h5>
      <h5 class="pull-right"><span class="badge badge-success">10</span></h5>
    </div>
    <p class="card-text">Operación Actualización a Backup No. 2</p>
  </div>
</div>
