<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h5 class="card-title">HP MicroServer Gen8</h5>
      <h5 class="pull-right"><span class="badge badge-success">8</span></h5>
    </div>
    <p class="card-text">Operación Limpieza de Interior</p>
  </div>
</div>

<div class="card mt-1">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h5 class="card-title">HAL-9000</h5>
      <h5 class="pull-right"><span class="badge badge-success">30</span></h5>
    </div>
    <p class="card-text">Operación Backup de Datos de Usuario Corium</p>
  </div>
</div>
